.qr{
    margin-top: -90px;
	margin-left: 9px;
    background-color: aliceblue;
    position: fixed;
    max-width: 100%;
	border-width: 3px;
	border-style: solid;
	border-color: black;

}


.foto{
    position: fixed;
    background-color: aliceblue;
    margin-top: -347px;
    margin-left: 78px;
    border-width: 6px;
    border-style: solid;
    border-color: #bb0202;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    max-width: 100%;

}

.datos{

	margin-top: -213px;
    margin-left: 59px;
    position: fixed;
    text-align: center;
    max-width: 100%;
	word-wrap: break-word;
	font-weight: bold;
	font-size:15px;
}

.cargo{

	background-color: #bb0202;
    position: fixed;
    margin-top: -171px;
    margin-left: 32px;
    color: aliceblue;
    width: 206px;
    text-align: center;
	max-width: 100%;
	word-wrap: break-word;
	font-weight: bold;



}
.depe{

    /* margin-top: -139px;
    margin-left: -3px;
	position: fixed;
     max-width: 100%; 
    text-align: center;
    word-wrap: break-word;
	font-weight: bold;
	line-height: 15px;
	font-size:13px; */
	top: -139px;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
	line-height: 15px;
    width: 100%;
    font-weight: bold;
	position: relative;

	
}

/* diseño vista filtrar trabajador */

.ficha{

	text-align: center; 
	max-width: 100%; 
	word-wrap: break-word; 
	border: 0; 
	width: 100%; 
	font-weight: bold;
}

